extends layout

block content

  <div class="live map live_map" style="height=300px;overflow: auto;">
  <svg width='300' height='10000'><g/></svg>
  </div>
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src='/javascripts/d3.v3.min.js')
  script(src='/javascripts/dagre-d3.min.js')    

  script(src='/javascripts/script2.js')
 
  