extends layout

block content
  h1= title
  p Welcome to #{title}
  b this is a div block
  <b>Another bold tag</b>
  
  
  <div class="live map live_map">
  svg
  </div>
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  
  script(src='/javascripts/raphael.min.js')
  script(src='/javascripts/flowchart.min.js')
  script(src='/javascripts/script2.js')
 
  